<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creserver</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="title-bar">
        <div class="custom-buttons">
            <img id="minimize-btn" src="../assets/essential_graphics/minimize_button.jpg" alt="Minimize">
            <img id="close-btn" src="../assets/essential_graphics/close_button.jpg" alt="Close">
        </div>
    </div>
    <div class="centered-content">
        <img id="luna-img" src="../assets/essential_graphics/luna.png" alt="Luna">
        <img id="begin-btn" src="../assets/essential_graphics/begin_idle.png" alt="Begin">
    </div>
    <script src="../renderers/renderer.js"></script>
</body>
</html>