<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creserver</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="title-bar">
        <div class="custom-buttons">
            <img id="minimize-btn" src="../assets/essential_graphics/minimize_button.jpg" alt="Minimize">
            <img id="close-btn" src="../assets/essential_graphics/close_button.jpg" alt="Close">
        </div>
    </div>
    <div class="selection-container">
        <div class="luna-container">
            <img id="luna-img" src="../assets/essential_graphics/luna.png" alt="Luna">
            <p class="luna-text">
                Hi! I'm Cresa, your companion! You're working on a server, aren't you? Or, at least... thinking
                about it? If not, delete this program. Creating a server, though, especially a modern one,
                might seem simple, but there's a lot to know, and it's important for all owners to know what's
                going on under the hood of all the MCModels products you spam-bought. This app is meant to teach you
                how a bunch of different integral parts of Minecraft server development actually work. Enjoy!
            </p>    
        </div>

        <h1 class="selection-title">What would you like to learn?</h1>
        <div class="button-column">
            <button class="selection-btn" id="resourcepacks-btn">Resource Packs</button>
            <button class="selection-btn" id="mythicmobs-btn">MythicMobs (W.I.P)</button>
            <button class="selection-btn" id="typewriter-btn">Typewriter (W.I.P)</button>
            <button class="selection-btn" id="pluginlists-btn">Plugin Lists (W.I.P)</button>
            <button class="selection-btn" id="back-btn">← Back</button>
        </div>
    </div>
    <script src="../renderers/selector.js"></script>
</body>
</html>