<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creserver</title>
    <link rel="stylesheet" href="../../styles/resource_packs/style.css">
</head>
<body>
    <div class="title-bar">
        <div class="custom-buttons">
            <img id="minimize-btn" src="../../assets/essential_graphics/minimize_button.jpg" alt="Minimize">
            <img id="close-btn" src="../../assets/essential_graphics/close_button.jpg" alt="Close">
        </div>
    </div>
    <div class="centered-container1">
        <div class="content-box">
            <h1>Introduction</h1>
            <p class="luna-text">
                Alrighty. Resource packs. Almost every Minecraft server nowadays uses one. Plugins like ModelEngine
                REQUIRE them.
            </p>        
            <p>
                This is actually a relatively large topic. There's a lot of nuances regarding resource packs, but
                they really are not at all as complicated as they may seem.
            </p>       
            <p>
                For the purposes of this app, I'm going to assume that you're using a plugin to manage your resource
                pack for you (something like Nexo or maybe even MythicCrucible. Please do NOT use ItemsAdder!). But
                although I'll be using Nexo's commands and interface, the topics you'll be learning are applicable to
                any type of resource pack, regardless of how it was put together. All Minecraft resource packs behave
                the same way.
            </p>
            <button id="back-btn" class="nav-button">
                ← Back
            </button>
            <button id="3dmodels-btn" class="nav-button">
                3D Models →
            </button>
        </div>
    </div>
    <script src="../../renderers/resource_packs/rp_introduction.js"></script>
</body>
</html>