<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creserver</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <div class="title-bar">
        <div class="custom-buttons">
            <img id="minimize-btn" src="../../assets/essential_graphics/minimize_button.jpg" alt="Minimize">
            <img id="close-btn" src="../../assets/essential_graphics/close_button.jpg" alt="Close">
        </div>
    </div>
    <div class="selection-container">
        <img id="luna-img" src="../../assets/essential_graphics/luna.png" alt="Luna">

        <h1 class="selection-title">What would you like to learn?</h1>
        <div class="button-column">
            <button class="selection-btn" id="introduction-btn">Introduction</button>
            <button class="selection-btn" id="3dmodels-btn">3D Models</button>
            <button class="selection-btn" id="2dsprites-btn">2D Sprites</button>
            <button class="selection-btn" id="glyphs-btn">Glyphs</button>
            <button class="selection-btn" id="armor-btn">Custom Armor</button>
            <button class="selection-btn" id="furniture-btn">Custom Furniture</button>
            <button class="selection-btn" id="mainback-btn">← Back</button>
        </div>
    </div>
    <script src="../../renderers/resource_packs/rp_introduction.js"></script>
</body>
</html>